.metadata
L00_Example/Debug
L01_Example/Debug
L02_Example/Debug
Keypad_Example/Debug
L02_Example/.settings/language.settings.xml
L02_Example/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
L02_Example/.settings/language.settings.xml
L02_Example/.settings/language.settings.xml
L02_Example/.settings/language.settings.xml
