.metadata
L00_Example/Debug
L01_Example/Debug
L02_Example/Debug
L03_Example/Debug
EXTRAS/Keypad_Example/Debug
EXTRAS/Display_Example/Debug
EXTRAS/Servo_Example/Debug
EXTRAS/RapidPrototype_Example/Debug

L02_Example/.settings/language.settings.xml
L02_Example/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs

